*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    opacity: 0.9;
}
body{
    color: #333;
}

header{
    background-image: url('image/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-header{
    margin: auto;
    padding-top: 150px;
    width: 1140px;
}

#explore-head-section{
    position: relative;
    margin-top: 700px;
}